.quest-card {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  aspect-ratio: 3/4;
  background-color: white;
  border-radius: var(--border-radius);
  background-size: cover;

  overflow: hidden;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: flex-end;
}
.footer {
  padding: 1rem 0.75rem;

}

.time {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 5.5rem;
  height: 2rem;
  margin: 0.5rem;

  background-color: #6289ec;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.user {
  margin: 0;
  color: rgb(228, 228, 228);
}

.description {
  margin: 0;
  width: 100%;

  color: white;
  font-size: 1rem;
  font-weight: 500;
}
