.navigation-bar > * {
  transition: none;
}

.navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
  padding: 0.5rem;

  width: 5rem;

  border: 3px solid black;
  border-radius: var(--border-radius);
}

.navigation-bar-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  aspect-ratio: 1/1;

  border-radius: 0.5rem;
}
.navigation-bar-button.selected {
  background-color: #6289ec;
}

.navigation-bar-button > svg {
  fill: black;
  width: 2rem;
  height: 2rem;
}

.navigation-bar-button:hover {
  border: 4px solid #6289ec;
  border-radius: 0.5rem;
}
