.navigation-bar > * {
  transition: none;
}

.navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
  padding: 0.5rem;

  width: 5rem;

  border: 3px solid black;
  border-radius: var(--border-radius);
  background-color: #6289ec;
}

.navigation-bar-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  aspect-ratio: 1/1;

  border-radius: 0.5rem;
}
.navigation-bar-button.selected {
  background-color: #374d85;
}

.navigation-bar-button > svg {
  fill: black;
  width: 2rem;
  height: 2rem;
}
.profile-icon {
  width: 2rem;
  height: 2rem;

  border: 4px solid black;
  border-radius: 50%;
}

.navigation-bar-button:hover {
  border: 4px solid #6289ec;
  border-radius: 0.5rem;
}

@media (max-width: 550px) {
  .navigation-bar {
    flex-direction: row;
    margin: 0 auto;

    height: 4rem;
    width: fit-content;
    margin-bottom: 0.5rem;
  }

  .navigation-bar-button {
    height: 100%;
    aspect-ratio: 1/1;
  }
}
