.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 60%;
  border-radius: 20px;
  min-width: 800px;
  min-height: 300px;
  background-color: rgb(58,58,60);
  display: flex;
  overflow: hidden; /* This will ensure the child elements don't overflow the rounded corners */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.login-form-container {
  width: 70%;
  padding: 20px 30px;
  z-index: 1;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 70px;
}



.login-form input {
  width: 100%;
  padding: 10px;
  height: 40px;
  margin: 15px 0;
  background-color: rgb(99, 99, 102);
  border: none;
  box-shadow: none;
  font-size: 16px;
  color: white;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Ensure consistent styling for all input fields, including the username */
.login-form input[type="email"],
.login-form input[type="password"] {
  border-radius: 15px;
  outline: none;
  background-clip: padding-box;
  border: 1px solid transparent;
}

/* Prevent color or border change on focus */
.login-form input:focus,
.login-form input:active {
  background-color: rgb(99, 99, 102);
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

/* Remove autofill background color */
.login-form input:-webkit-autofill,
.login-form input:-webkit-autofill:hover,
.login-form input:-webkit-autofill:focus,
.login-form input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(99, 99, 102) inset !important;
  -webkit-text-fill-color: white !important;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.loginbtn {
  padding: 10px 20px;
  background-color: rgb(10,145,255);
  color: white;
  border: none;
  border-radius: 15px;
  height:40px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  width: 48%;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s, background-color 0.3s;
}

.loginbtn:hover{
  background-color: rgb(9, 126, 221);
  width:49%;
}
.google-login-btn:hover{
  background-color: #d8d5d5;
  width:49%;
}
.google-login-btn {
  background-color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 48%;
  height:40px;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: width 0.3s, background-color 0.3s;
}

.google-login-btn img{
  height:25px;
  width:auto;
}
