.register-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 60%;
    border-radius: 20px;
    min-width: 800px;
    min-height: 300px;
    padding: 20px 30px;
    background-color: rgb(58, 58, 60);
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%; /* Restrict width to 60% of the container */
    margin-top: 30px;
}


.register-form input {
    width: 100%; /* Make the input take up 100% of the form's width (60% of container) */
    padding: 10px;
    height: 60px;
    margin: 15px 0;
    background-color: rgb(99, 99, 102);
    border-radius: 20px;
    border: none; /* Remove any default borders */
    box-shadow: none; /* Prevent any default shadow */
    font-size: 16px;
    color: white; /* Ensure text color remains white */
}

/* Prevent color or border change on focus */
.register-form input:focus,
.register-form input:active {
    background-color: rgb(99, 99, 102); /* Keep background color consistent */
    outline: none; /* Remove the border on focus */
    box-shadow: none; /* Prevent any shadow or highlight effect */
}

.password-container {
    position: relative;
    width: 100%; /* Match input width */
}

.password-container input {
    width: 100%;
    padding-right: 40px;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Make buttons match the form's width */
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: rgb(10,145,255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%; /* Make the buttons equal in width */
}

.google-register-btn {
    background-color: #fff;
    color: rgb(10,145,255); /* Set text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%; /* Make the buttons equal in width */
}

.createacc {
    font-size: 32px;
    text-align: left; /* Align title to the left */
    width: 100%; /* Full width for proper left alignment */
}

.aauser {
    font-size: 18px;
    text-align: left; /* Align the "Already a user?" to the left */
    width: 100%;
    margin-bottom: 20px;
}
