/* Reset default margins and paddings, and set box-sizing to border-box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Body styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrolling */
    background-color: rgb(229, 229, 234);
}

/* Register container */
.register-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: flex-end; /* Align items to the right */
    width: 80%;
    max-width: 500px; /* Adjust width as needed */
    background-color: rgb(242, 242, 247); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Register section styling */
.register-section {
    width: 100%; /* Take full width of container */
    padding: 20px;
}

.register-section h2 {
    margin-bottom: 20px;
    color: #333; /* Dark text color */
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    outline: none; /* Remove outline on focus */
}

/* Password container styling */
.password-container {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}

/* Eye icon styling for password toggle */
.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(28, 28, 30, 0.5); /* Eye icon color */
    font-size: 1.25em; /* Adjust icon size */
    pointer-events: auto; /* Ensure the icon is clickable */
}

/* Button styling */
.register-form button {
    width: 100%;
    padding: 10px;
    background-color: rgb(16, 17, 17);
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.register-form button:hover {
    background-color: #0056b3;
}
.separator {
    width: 90%;
    height: 1px;
    margin-bottom:20px;
    background-color: #ccc; /* Thin line color */
}

/* Google login button styling */
.google-register-btn {
    width: 90%;
    padding: 10px;
    background-color: rgb(0, 122, 255); /* Google red color */
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom:10px;
}

.google-register-btn:hover {
    background-color: #0056b3; /* Darker red for hover */
}

.google-register-btn svg {
    margin-right: 10px; /* Space between icon and text */
}