.camera-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  padding: 1rem;
  padding-bottom: 15vw;

  background-color: white;
  z-index: 1000;
}

.camera-preview {
  width: 100%;
  height: 100%;

  border-radius: var(--border-radius);
  background-color: black;
}

.camera-button-container {
  display: flex;
  gap: 1rem;

  position: absolute;
  bottom: 0.8rem;
}
.sub-camera-button-container {
  display: flex;
  gap: 1rem;

  padding: 4px;

  border-radius: 10rem;
  background-color: white;
}

.camera-button-container button {
  width: 20vw;
  height: 20vw;

  background-color: white;
  border-radius: 50%;
  border: none;

  cursor: pointer;
  transition: background-color 200ms;
}
.camera-button-container button svg {
  width: 100%;
  height: 100%;

  fill: black;
}
button#flip-camera {
  position: absolute;
  margin-left: 50vw;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
}
button#flip-camera svg {
  padding: 0.5rem;
  transition: background-color 200ms;
  border-radius: 50%;
}
button#flip-camera:hover svg {
  background-color: rgba(0, 0, 0, 0.1);
}
button#back {
  padding: 5px;
}
button#back:hover,
button#back:active {
  background-color: rgba(0, 0, 0, 0.1);
}
button#shutter {
  border: 7px solid black;
  background-color: #6289ec;
  transition: filter 150ms;
}
button#shutter:hover,
button#shutter:active  {
  filter: brightness(0.8);
}
button#placeholder {
  opacity: 0;
}
