.settings-container {
}
.settings-container header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.settings-container header h2 {
  margin: 0;
}
.settings-container section h3 {
  margin-bottom: 0.8rem;
}
.settings-container header svg {
  margin-right: 4px;
  padding-left: 2px; /*fix alignment*/
  width: 2.25rem;
  height: 2.25rem;

  fill: #6289ec;

  border-radius: 50%;

  transform: rotate(180deg);
  cursor: pointer;
}

.settings-container header svg:hover {
  background-color: rgba(98, 137, 236, 0.25);
}

.settings-container section {
  padding-left: 8px;
}

.setting-option {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
.setting-option.nogap {
  justify-content: flex-start;
  gap: 1rem;
}

.setting-option p {
  margin: 0;
  font-weight: 500;

  line-height: normal;
}
.setting-option span {
  margin: 0;
  padding-left: 0.5rem;

  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.setting-option svg {
  padding: 8px 0;
  width: 2rem;
  height: 2.4rem;

  fill: #6289ec;

  cursor: pointer;
}
.setting-icons {
  display: flex;
  align-items: center;
  padding: 0 0.6rem;
  border-radius: 2rem;

  background-color: rgba(98, 137, 236, 0.25);
}

.search-user input {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  border: none;
  background-color: rgba(98, 137, 236, 0.25);
  color: black;
}

.settings-container .logout-button {
  display: flex;
  align-items: center;

  width: fit-content;
  padding: 0rem 0.5rem;
  border-radius: 3rem;
  background-color: rgba(255, 0, 0, 0.5);

  transition: ease-out background-color 150ms;

  cursor: pointer;
}
.setting-option#logout {
  color: rgba(255, 0, 0, 0.8);
}
.settings-container .logout-button:hover {
  background-color: rgba(255, 0, 0, 0.8);
}
.settings-container .logout-button svg {
  fill: black;
}
