.prof-container {
  width: 100%;
  height: 100%;

  overflow: scroll;

  color: black;
}

.prof-container header {
  width: 100%;
}
.prof-container .prof {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.prof-name-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-right: auto;
}

.prof-name-container p {
  padding: 0;
  margin: 0;
  line-height: normal;
}
.prof-name {
  font-size: 1.2rem;
  font-weight: 600;
}
.prof-username {
  font-size: 1rem;
  font-weight: 400;
}

.prof-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  margin-right: 1rem;

  width: 5rem;
  height: 5rem;

  border: 3px solid black;
  border-radius: 50%;

  overflow: hidden;
}
.prof-picture img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.prof-picture svg {
  position: absolute;
}

.prof-header-buttons {
  flex-shrink: 0;
  display: flex;
  gap: 0.5rem;
}
.prof-header-buttons svg {
  padding: 8px;
  width: 3rem;
  height: 3rem;

  fill: #6289ec;

  border-radius: 50%;

  cursor: pointer;
}
.prof-header-buttons svg:hover {
  background-color: rgba(98, 137, 236, 0.25);
}

.prof-bio {
  margin: 0 0.5rem;
  margin-top: 1rem;

  border-bottom: 2px solid #6289ec;
}
.prof-container h3 {
  margin: 0;
  color: black;
}
.prof-container h2 {
  margin: 0 8px;
  color: black;
}
.prof-bio p {
  font-weight: 400;
}
.prof-bio-edit {
  padding: 0.5rem 0.5rem;
  width: 100%;

  border-radius: 8px;
  border: 2px solid #6289ec;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  resize: none;
}
.prof-input {
  width: 95%;
  padding: 0 0.5rem;
  /* background-color: rgba(98, 137, 236, 0.25); */

  border-radius: 8px;
  border: 2px solid #6289ec;
}

.profile-section {
  margin: 0 0.5rem;
  margin-top: 1rem;
  padding: 0;
  background-color: transparent;
}
.section-empty-msg {
  color: #6289ec;
  font-weight: 500;
}
