.top-bar-container {
  position: fixed;
  top: 0;
  right: 0;

  width: 100%;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  /* border: 1px solid pink; */
  z-index: 100;
  padding: var(--main-page-padding) var(--main-page-padding) 0
    var(--main-page-padding);
}

.top-bar {
  display: flex;
  gap: 0.25rem;
  height: 3.2rem;
}



