.map-container {
    width: 100%;
    aspect-ratio: 1/1;

    border-radius: var(--border-radius);
    overflow: hidden;
}




@media (max-width: 800px) {
    .map-container {
        width: 50%;
    }
}
