.map-container {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.map-container.small {
    width: 50%;
}

.map-container.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    aspect-ratio: auto;
    border-radius: 0;
}

.full-screen-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    color:black;
    border:none;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 18px;
    line-height: 1;
}

.full-screen-toggle:hover{
    background-color: rgba(210, 208, 208, 0.8);
}

.map-placeholder {
    width: 100%;
    height: 100%;
}

.address-bar {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    z-index: 1000;
}

@media (max-width: 800px) {
    .map-container:not(.full-screen) {
        width: 100%;
    }
}