.navigation-modal-container {
  position: absolute;
  margin-left: 5.5rem;

  width: 27rem;
  max-height: 90%;

  z-index: 100;
}

.navigation-modal {
  padding: 2rem 1.5rem;
  width: 100%;
  height: 100%;

  background-color: rgb(255, 255, 255);
  border: 3px solid black;
  border-radius: var(--border-radius);

  overflow: hidden;
}

.navigation-modal-bg {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-color: transparent;
    z-index: -1;
}

@media (max-width: 650px) {
  .navigation-modal-container {
    width: 27rem;
  }
}

@media (max-width: 550px) {
  .navigation-modal-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
  }
  .navigation-modal {
    width: auto;
    margin: 0 var(--main-page-padding);
    margin-top: 5rem;
  }
}
