.navigation-modal-container {
  position: relative;
  margin-left: 5.5rem;

  width: 30rem;
  height: 90%;

  background-color: white;
  border: 3px solid black;
  border-radius: var(--border-radius);

  z-index: 100;
}
